.n {
  width: 3rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.183);
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  &-modes {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
}

.darkMode {
  background-color: var(--shadow-color);
}
.Color {
  color: rgb(23, 21, 21);
}
.header-color {
  color: rgb(255, 255, 255);
}
