:root {
  --background-color: #e9eef3;
  --shadow-color: #212529;
  --main-color: #495057; }

*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: var(--main-color); }

body {
  box-sizing: border-box;
  background-color: var(--background-color); }

.container {
  display: flex;
  flex-direction: column;
  gap: 3rem; }

.n {
  width: 3rem; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.183);
  font-size: 1.5rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif; }
  .header-modes {
    display: flex;
    gap: 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s; }

.darkMode {
  background-color: var(--shadow-color);
  transition: all 0.2s; }

.Color {
  color: #171515; }

.header-color {
  color: white; }

.section-hero {
  width: 90%;
  margin: auto; }
  .section-hero__input {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem; }
    .section-hero__input input {
      width: 30%;
      padding: 1rem;
      border: none;
      border-radius: 0.5rem;
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.183);
      transition: all 0.5s ease-in-out; }
      .section-hero__input input:focus {
        outline: 0.5rem solid #bac8ff;
        transform: scale(1.06); }
    .section-hero__input select {
      appearance: none;
      width: 20%;
      border-radius: 0.5rem;
      border: none;
      box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.183);
      appearance: none;
      padding: 1rem;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-family: "Times New Roman", Times, serif;
      color: var(--main-color); }
      .section-hero__input select:focus {
        outline: 0.5rem solid #bac8ff;
        transform: translateY(-0.1rem); }
    .section-hero__input option {
      background-color: white;
      font-weight: 400;
      display: inline-block;
      font-family: "Times New Roman", Times, serif; }
  .section-hero__cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 2rem 3rem; }
    .section-hero__cards-card {
      padding: 2rem;
      width: 20rem;
      margin: auto;
      height: 25rem;
      border-radius: 1rem;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.5s ease-in-out; }
      .section-hero__cards-card img {
        width: 100%;
        height: 50%;
        background-color: black; }
      .section-hero__cards-card span {
        font-weight: 600; }
      .section-hero__cards-card:hover {
        transform: scale(1.06); }
  .section-hero .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem; }
    .section-hero .buttons p {
      border: none;
      padding: 1rem;
      background-color: #3b5bdb;
      color: white;
      font-size: 2rem;
      border-radius: 1rem;
      cursor: pointer;
      transition: all 0.1s ease-in-out; }
      .section-hero .buttons p:hover {
        background-color: #4c6ef5; }
      .section-hero .buttons p:active {
        transform: translateY(-0.2rem); }
      .section-hero .buttons p::selection {
        background-color: transparent; }

.error-msg {
  color: #364fc7;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
  width: 100%; }
